/* Your CSS Code here. */
.holder
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1
{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}